<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/InfoLazo.css" />

</head>
<body>
    <div class="wrappercontainer">
        @RenderBody()
        <footer>
            <div class="content row container ">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content-left">
                    <h3>IOT LINK COMPANY</h3>
                    <ul class="list-unstyled">
                        <li>A: 01 Trần Quốc Tuấn, Phường 2, Tỉnh Bến Tre</li>
                        <li>P: 0236.3.846.816 - 0903.556.929</li>
                        <li>E:  info@quyhoachbentre.com</li>
                        <li>W: www.quyhoachbentre.com.vn</li>
                    </ul>
                    <h4>Tính năng | Tải về | Đăng ký | Hỏi đáp</h4>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 content-right">
                    <div class="col-md-12 images">
                        <img src="~/Content/images/page-1_0011_fb.png" alt="Alternate Text" />
                        <img src="~/Content/images/page-1_0012_Twitter.png" alt="Alternate Text" />
                        <img src="~/Content/images/page-1_0013_pinterest.png" alt="Alternate Text" />
                        <img src="~/Content/images/page-1_0014_instar.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-12">
                        <p>Bản quyền &copy;2018 <a href="#">Công ty CP IOTLink</a></p>
                        <p>Nội dung và biểu tượng thuộc thương hiểu <a href="#">Công ty CP IOTLink</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/dist/js/slideshow.js"></script>
</body>
</html>
