################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoginSecure/bin
/LoginSecure/obj/Debug
/.vs/LoginSecure/v15
