
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/OcteamLayout.cshtml";

}
@RenderPage("InfoLazo.cshtml")
@RenderPage("TypicalCustomers.cshtml")
<div style="clear:both;">
    <div id="slideshow">
        <div class="row">
            <div class="col-md-12 text-center" id="ykien">
                <h1><strong>Ý kiến khách hàng</strong></h1>
            </div>
            <div class="col-md-12 text-center">
                <div class="carousel slide multi-item-carousel col-xs-9 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" id="theCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class=" col-xs-4 ">
                                <a href="#2"><img src="~/Content/dist/img/user1-128x128.jpg" class="img-responsive img-circle"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class=" col-xs-4 ">
                                <a href="#2"><img src="~/Content/dist/img/user3-128x128.jpg" class="img-responsive img-circle"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class=" col-xs-4 ">
                                <a href="#2"><img src="~/Content/dist/img/user4-128x128.jpg" class="img-responsive img-circle"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class=" col-xs-4 ">
                                <a href="#2"><img src="~/Content/dist/img/user5-128x128.jpg" class="img-responsive img-circle"></a>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <h2>Nguyen Quoc | IOT Link</h2>
                <p class="comment">
                    Loren Ipsum is simply dummy text of the printing and<br />
                    typesetting isdustry. Loren Ipsum has been the isdustr's standard dummy text ever
                </p>
            </div>
        </div>
    </div>
    <div id="dangky">
        <div class="row">
            <div class="col-md-12" id="dk">
                <div class="col-xs-8 text-center">
                    <h1>Trải nghiệm hoàn toàn miễn phí</h1>
                    <h4>
                        Vui lòng điền thông tin của bạn vào ô dưới đây để đăng ký tài khoản dùng thử
                    </h4>
                </div>
                <div class="col-xs-4 text-center" id="dk2">
                    <a href="#" class="btn btn-default" style="border-radius: 50px;"><h3>ĐĂNG KÝ</h3></a>
                </div>
            </div>
        </div>
    </div>
    <div id="dowload">
        <div id="bgcolo">
            <div class="row">
                <div class="col-md-12 text-center" id="app">
                    <h1>Dowload App</h1>
                    <h4>
                        It is long established fact that the reader will be distracted by the readable content of a<br />
                        page when looking at its layout. It is a long established fact that the reader will be
                    </h4>
                </div>
                <div class="col-md-12" id="btn3">
                    <div class="col-xs-4 col-sm-4 col-md-4" id="google-play">

                        <a href="#" class=" btn btn-default" style="border-radius:50px; background-color:#140c9c; border-color:white;color:white; ">
                            <i class="col-xs-3 col-md-3 fab fa-google-play" id="gplay"></i><h5 class="col-xs-9 col-md-9" id="gplaytext">Android App<br /><strong>on Google Play</strong></h5>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" id="app-store">

                        <a href="#" class="btn btn-default" style="border-radius:50px; background-color:#140c9c; border-color:white;color:white;">
                            <i class="col-xs-3 col-md-3 fab fa-apple" id="apple"></i><h5 class="col-xs-3 col-md-9" id="appletext">Dowload On the  <br /><strong>  App Store</strong></h5>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" id="win-store">

                        <a href="#" class="btn btn-default" style="border-radius:50px; background-color:#140c9c; border-color:white;color:white;">
                            <i class="col-xs-3 col-md-3 fab fa-windows" id="window"></i><h5 class="col-xs-3 col-md-9" id="windowtext">Dowload From <br /><strong> Windows Strore</strong></h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


