@{
    Layout = null;
}

<div class="info-lazo col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Vì sao chọn Lazo</h2>
            <ul class="list-unstyled">
                <li>Không yêu cầu máy chủ tại doanh nghiệp</li>
                <li>Không yêu cầu cài đặt phứt tạp</li>
                <li>Dễ dàng sử dụng trên cả ba nền tảng: máy tính, điện thoại di động, máy tính bảng</li>
                <li>Chi phí tối ưu và hợp lí</li>
                <li>30 ngày dùng thử miễn phí</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Tính năng nỗi bật</h2>
            <ul class="list-unstyled">
                <li>Điểm danh nhân viên (checkin/checkout)</li>
                <li>Tạo lộ trình và địa bàn làm việc cho nhân viên</li>
                <li>Quản lý theo thời gian thực</li>
                <li>Nhân viên báo cáo kết quả làm việc theo ngày</li>
                <li>Kết nối với nhân viên miễn phí qua các ứng dụng phổ biển: Zalo, Skype, Viber...</li>
                <li>Tính năng báo cáo và chống tụ tập</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <img class="img-responsive" src="~/Content/dist/img/page-1_0023_lộ-trình-của-tôi-pic.png" alt="Alternate Text" />
    </div>

</div>
